.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.box {
  width: 80%;
  height: 150px;
  background-color: rgb(245, 245, 245);
  margin-top: 20px;
  text-align: center;
  border-radius: 10px;
}

.question {
  font-size: 5.5rem;
  font-weight: 700;
}

.answer {
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100px;
  font-size: 4rem;
  text-align: center;
  padding: 0;
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius: 10px;
}

.btn {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(228, 187, 75);
  color: rgb(245, 245, 245);
}

.btn:hover {
  cursor: pointer;
  background-color: rgba(228, 187, 75, 0.685);
}
